body {
    margin: 0;
    background: black;
}

.containerglobal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background: linear-gradient(120deg, rgb(6, 193, 240), rgb(127, 10, 236));
    border-radius: 6px;
    border: solid black;
    margin: 5px;
    color: white;
    text-align: center;
    padding-right: 15px;
    font-family: Mansalva;
    font-size: 50px;
}

.container {
    background-color: black;
    margin: 5px;
    border-radius: 6px;
    border: solid black;
    flex-direction: column;
    text-align: center;
    display: block;
}
.content {
    border-radius: 6px;
    width: 30%;
    height: 200px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: auto;
    margin-top: 50px;
}
.altadef {
    background: url(/images/altadef.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.cb01 {
    background: url(images/cb01.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.gds {
    background: url(images/gds.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.fpt {
    background: url(images/fpt.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.shd {
    background: url(images/shd.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.tf {
    background: url(images/tf.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.footer {
    background-color: rgb(44, 44, 44);
    border: solid black;
    border-radius: 6px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: table;
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: Mansalva;
}
nav {
    display: inline-block;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
li {
    margin-left: 20px;
    font-size: 25px;
}