
/* APP main margin */
.app,
.app-2rEoOp {
	overflow: hidden;
	margin: var(--general-margin);
}
/* Background */
.app-1q1i1E{
	background: var(--background-image) ;
 	background-size: cover ;
 	background-position: center ;
 	background-attachment: fixed ;
}

/* --------------------------- GLOBAL ---------------------------*/
/* icons (servers, users)*/
foreignObject[mask] {   /* Members list + servers list + popup + modal */
	mask: url();
    border-radius: var(--icons-roundness);
}

.avatar-1BDn8e, .avatar-3bWpYy, .avatar-3tNQiO.avatarSmall-1PJoGO, .wrapperSimple-19ogV2{  /* Squared avatars */
	border-radius: var(--icons-roundness) !important;
}
/* --------------------------- SIDEBAR --------------------------- */
/* Main container */
#app-mount .sidebar-2K8pFh, .sidebar-2K8pFh {
	margin-right: var(--between-panels-margin);
	background: transparent;
	border-radius: var(--panels-radius);
}

/* Channels list */
.sidebar-2K8pFh > .container-3w7J-x, .sidebar-2K8pFh > .privateChannels-1nO12o {
	background: var(--panels-opacity);
	border-radius: var(--panels-radius);
}

/* Control panels (spotify controls, voice chat, user settings etc) */
.sidebar-2K8pFh > .panels-j1Uci_ > * {
	background: var(--panels-opacity);
	margin-top: var(--between-panels-margin);
	margin-bottom: 0;
	border-radius: var(--panels-radius);
}


.container-3baos1 {
	padding-bottom: 5px;
}

.container-3baos1::before {
	transform: translate(50%, -75%);
}
.container-3baos1:hover::after {
	transform: translate(50%, -75%);
}
.container-3baos1:hover::before {
	transform: translate(20%, -75%);
}
/* --------------------------- CHAT CONTAINER --------------------------- */

/* top bar */
.chat-3bRxxu {
	borde-radius: var(--panels-radius);
}
.chat-3bRxxu > section {
	margin-bottom: var(--between-panels-margin);
	border-radius: var(--panels-radius);
}

/* Chat container */
.content-yTz4x3 > .chatContent-a9vAAp {
	background-color: transparent;
}

/* NSFW confirm menu */
.scroller-11cdZM {
	background: var(--panels-opacity);
	border-radius: var(--panels-radius);
}
/* chat */
.chatContent-a9vAAp >  .messagesWrapper-1sRNjr {
	margin-bottom: 10px;
	background: var(--panels-opacity);
	border-radius: var(--panels-radius);
}

/* Chat input */
.chatContent-a9vAAp >  .form-2fGMdU {
	padding: 0;
	background-color: var(--panels-opacity);
	border-radius: var(--panels-radius);
}


.channelTextArea-rNsIhG.channelTextArea-2VhZ6z {
	box-shadow: 0 6px 15px -6px rgba(255, 255, 255, 0.3);
}

/* members list */
.membersWrap-2h-GB4 {
	margin-left: var(--between-panels-margin);
}
.membersWrap-2h-GB4 > .members-1998pB {
	border-radius: var(--panels-radius);
}

@media screen and (max-width: 1080px){

	/* HIDE ROLE NAMES */
	.membersWrap-2h-GB4 > .members-1998pB > .content-3YMskv > .membersGroup-v9BXpm.container-2ax-kl {
		visibility: hidden;
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
		height: 0px;
		transition: all .3s ease-in;
	}

	/* SHOW ROLE NAMES ON HOVER */
	.membersWrap-2h-GB4:hover > .members-1998pB > .content-3YMskv > .membersGroup-v9BXpm.container-2ax-kl {
		visibility: visible;
		padding-top: 20px;
		padding-left: 16px;
		padding-right: 8px;
		height: 40px;
		transition: all .3s ease-in;
	}

	/* HIDE USER NAMES */
	.membersWrap-2h-GB4 > .members-1998pB > .content-3YMskv > .member-3-YXUe.container-2Pjhx- > .layout-2DM8Md  {
		width: 0;
		transition: all .3s ease-in;
	}

	/* SHOW USER NAMES ON HOVER*/ 
	.membersWrap-2h-GB4:hover > .members-1998pB > .content-3YMskv > .member-3-YXUe.container-2Pjhx- > .layout-2DM8Md  {
		width: 210px;
		transition: all .2s ease-in;
	}

	.membersWrap-2h-GB4 > .members-1998pB {
		width: 65px;
		transition: all .3s ease-in;
	}

	
	.membersWrap-2h-GB4:hover > .members-1998pB {
		width: 210px;
		transition: all .2s ease-in;
	}
}

/* search results */
.searchResultsWrap-3-pOjs {
	margin-left: var(--between-panels-margin);
	border-radius: var(--panels-radius);
}

/* --------------------------- PRIVATE CHAT, LIBRARY, STAGE DISCOVERY ETC --------------------------- */

/* sidebar */
.sidebar-2K8pFh > .privateChannels-1nO12o {
	background: var(--panels-opacity);
}

/* top bar */
.base-3dtUhz .container-1r6BKw {
	box-shadow: none;
}
.container-1r6BKw {
	margin-bottom: var(--between-panels-margin);
	background: var(--panels-opacity);
	border-radius: var(--panels-radius);
}

/* ----- FRIENDS LIST -----*/
/* Main section */
.container-1D34oG > .tabBody-3YRQ8W > .peopleColumn-29fq28 {
	margin-right: var(--between-panels-margin);
	background: var(--panels-opacity);
	border-radius: var(--panels-radius);
}
/* active now */
.container-1D34oG > .tabBody-3YRQ8W > .nowPlayingColumn-2sl4cE {
	background: var(--panels-opacity);
	border-radius: var(--panels-radius);
}

/* ----- STAGE DISCOVERY -----*/
/* Main section */
.container-1a3EgQ > .pageContent-1xgXch > .stageSection-3mAD8V {
	background: var(--panels-opacity);
	margin-right: var(--between-panels-margin);
	border-radius: var(--panels-radius);
}

/* active now */
.container-1a3EgQ > .pageContent-1xgXch > .nowPlayingSidebar-2OFn0o {
	background: var(--panels-opacity);
	border-radius: var(--panels-radius);
}

/* ----- LIBRARY -----*/
/* main section */
.container-3Mxszk > .container-19hC9u{
	background: var(--panels-opacity);
	border-radius: var(--panels-radius);
}
/* settings */
.container-3Mxszk > .scroller-2XE8rp {
	background: var(--panels-opacity);
	border-radius: var(--panels-radius);
}

/* ----- NITRO -----*/
/* main section */
.applicationStore-1pNvnv > div > .scroller-9moviB {
	background: var(--panels-opacity);
	border-radius: var(--panels-radius);
}


/* --------------------------- SERVERS LIST --------------------------- */
.wrapper-3NnKdC.guilds-1SWlCJ {
	box-shadow: none;
}

.folderIconWrapper-1_bOZe {
	border-radius: var(--icons-roundness);
}

.guilds-1SWlCJ [class*=expandedFolderBackground] {
    background: rgba(0,0,0,0.3);
    bottom: 0px;
}

/* --------------------------- MENUS --------------------------- */
/* Settings */
.layer-3QrUeG .standardSidebarView-3F1I7i{
	background: var(--panels-opacity);
	border-radius: var(--panels-radius);
}

/* Server boost, server settings */
.theme-dark .perksModal-fSYqOq, .perksModal-fSYqOq.auto-Ge5KZx.scrollerBase-289Jih {
	background: var(--panels-opacity);
	margin-top: 40px !important;
	margin: var(--general-margin);
	border-radius: var(--panels-radius);
}

.container-1sFeqf.closeIcon-3_iQ6l{
	margin-top: 25px;
}

/* --------------------------- IN CALL --------------------------- */
/* view call members "wrapper" */
.wrapper-2qzCYF{
	border-radius: var(--panels-radius);
}

/* on hover user scale */
.tile-kezkfV{
	transition: all .3s ease-in;
}
.tile-kezkfV:hover{
	transform: scale(0.95);
	transition: all .3s ease-out;
}

/* Live badge */
.live-vBWnV6.liveSmall-1dy2uA.textBadge-1iylP6, .liveIndicator-3FNmiB {
	border-radius: 3px !important;
}

/* Better RTC Connection popout */
#popout_1591 div div header {
	border-radius: 15px 15px 0 0 !important;
}
#popout_1591 div div section {
	border-radius: 0 0 15px 15px !important;
}
.container-2x5lvQ {
     width: 240px;
     box-shadow: none;
}
.container-2x5lvQ>section {
	background: rgba(0, 0, 0, 0.9) !important;
}
.container-2x5lvQ section p:nth-of-type(1) {
     font-size: 0;
}
.container-2x5lvQ section p:nth-of-type(2) {
     display: none;
}
.container-2x5lvQ section strong {
     font-size: 14px;
     white-space: pre;
}
.container-2x5lvQ section strong::before {
     font-weight: normal;
}
.container-2x5lvQ section strong:nth-of-type(1)::before {
     content: 'Server: ';
}
.container-2x5lvQ section strong:nth-of-type(2)::before {
     content: 'Average Ping: ';
}
.container-2x5lvQ section strong:nth-of-type(3)::before {
     content: ' Last Ping: ';
}
.container-2x5lvQ section strong:nth-of-type(4)::before {
     content: 'Packet Loss: ';
}
